/*settings that change all text*/
*{
    margin: 0;
    padding: 0;
}


#header {
    background-color: khaki; /* background */
    padding: 120px 10px; /* Some padding */
    color: black;
    text-align: center; /* Centered text */
    font-size: 13vmin; /* Big font size */
    font-weight: bold;
    position: fixed; /* Fixed position - sit on top of the page */
    top: 0;
    width: 100%; /* Full width */
    transition: 0.2s; /* Add a transition effect (when scrolling - and font size is decreased) */
  }


body {
    min-height: 10000px;
    background-color: powderblue;
  }